:root {
  --clr-primary: rgba(168, 75, 21, 0.80);
  --clr-light: #f4f4f4;
  --clr-dark: #333;
  --clr-warning: rgb(99, 36, 36);
}

*,
*::before,
*::after {
  font-family: inherit;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  background-color: var(--clr-primary);
  color: var(--clr-light);
  display: grid;
  grid: "header header header header" auto "...... lists  active ......" auto/1fr minmax(100px, 300px) minmax(250px, 500px) 1fr;
}

.title {
grid-area: header;
text-align: center;
font-size: 2.5rem;
font-weight: 800;
color:rgb(99, 36, 36);
letter-spacing: 2px;
}

.all-task {
grid-area: lists;
}

.task-list {
  line-height: 1.7;
  list-style: circle;
  padding-left: 1.1em;
  color:rgb(99, 36, 36);
}

.list-name {
  cursor: pointer;
}

.list-name:hover {
  opacity: 0.7;
}

form {
display: flex;  
}
/* Button styling */
.btn {
  cursor: pointer;
  background: 0;
  border: 0;
  padding: 0;
  color: inherit;
}

.btn.create {
font-size: 1.5rem;
font-weight: 900;
margin-right: 0.25em;
transition: opacity 250ms ease-in;
}


.btn.create:hover {
  opacity: 0.7;
}

.btn.delete {
  
  opacity: 0.7;
  font-size: 1rem;
}

.btn.delete:hover {
 color: var(--clr-warning);
}
/* End of Button styling */

.new {
background: transparent;
border: 0;
color: inherit;
border-bottom: 1px solid currentColor;
padding: 0.25em;
font-size: inherit;
outline: none;
order: 2;
}

.new:focus::placeholder {
  opacity: 0.2;
}

.new::placeholder {
  opacity: 0.6;

}
.new.list{
  font-size: 1.1rem; 
}

.new.task {
  margin-bottom: 0;
}

.active-list{
 font-weight: 700; 
}

.todo-list {
--spacer: 2rem;

grid-area: active;  
background-color: var(--clr-light);
color: var(--clr-dark);
}

.todo-header {
  padding: var(--spacer);
  background: #e4e4e4;
  display: flex;
  align-items: center;

  justify-content: space-between;
}

.todo-title {
margin: 0 1em 0 0;
}

.task-count {
  margin: 0;
  font-size: 1rem;
}

.todo-body {
  padding: var(--spacer);
  position: relative;
}

.new-task-creator .create {
color:rgb(99, 36, 36);

}

[type="checkbox"] {
 opacity: 0; 
 position: absolute;
}

.task label {
 display: inline-flex;
 align-items: center; 
 position: relative;
}

.task {
  position: relative;
  margin-bottom: 1.25em;
}

.task::after {
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  bottom: -.5em;
  height: 1px;
  background-color: currentColor;
  opacity: 0.3;
 }

.custom-checkbox {
  --size: .75em;
  display: inline-block;
  cursor: pointer;
  border: 2px solid currentColor;
  border-radius: 50%;
  width: var(--size);
  height: var(--size);
  margin-right: var(--size);
  transform: scale(1);
  transition: transform 250ms ease-in-out;
}

.task:hover .custom-checkbox,
[type="checkbox"]:focus + label .custom-checkbox {
transform: scale(1.2);
color:rgba(168, 75, 21, 0.80);
}

[type="checkbox"]:checked + label .custom-checkbox {
  background-color: rgba(168, 75, 21, 0.80);
  border-color:rgba(168, 75, 21, 0.80);
  box-shadow: inset 0 0 0px 2px white;
}

[type="checkbox"]:focus + label {
  opacity: 0.5;
}

.task label::after {
  content: '';
  position: absolute;
  left: 1.5em;
  right: 0;
  top: 50%;
  height: 3px;
  background: currentColor;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 300ms ease-in-out;
}

[type="checkbox"]:focus + label::after{
  transform:scaleX(1);
  transform-origin: left;
}

.delete-stuff {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -65px;
  color: var(--clr-light);
}

